### 다음 딕셔너리에 대해 물음에 답하라. 
### days = {'January':31, 'February':28, 'March':31, 'April':30,'May':31, 'June':30, 'July':31, 'August':31,'September':30, 'October':31, 'November':30, 'December':31}

---
### 1. 사용자가 월을 입력하면 해당 월에 일수를 출력하라

In [1]:
days = {'January':31, 'February':28, 'March':31, 'April':30,'May':31, 'June':30, 'July':31, 'August':31,'September':30, 'October':31, 'November':30, 'December':31}
month = input("월을 입력하세요")
print(days.get(month))

31

---
### 2. 알파벳 순서로 모든 월을 출력하라

In [16]:
kDays=days.keys()
lDays=list(kDays)
lDays.sort()
print(lDays)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

---
### 3. 일수가 31일 월을 모두 출력하라

In [15]:
for key, value in days.items():
    if value==31:
        print(key)

January
March
May
July
August
October
December

---
### 4. 월의 일수를 기준으로 오름차순(key-value) 쌍을 출력하라

In [ ]:
# lDays = list(days.values()) 
# lDays.sort(reverse=True)
# for i in set(lDays):
#     for key, value in days.items():
#         if value == i:
#             print(key,value)

lDays = list(days.values())
for i in sorted(set(lDays)): ##set은 정렬기능이 없다 sort가 아니라 sorted로 정렬 가능
    for key, value in days.items():
        if value == i:
            print(key,value)

February 28
April 30
June 30
September 30
November 30
January 31
March 31
May 31
July 31
August 31
October 31
December 31

---
### 5. 사용자가 월을 3자리만 입력하면 월의 일수를 출력하라(jan,feb)

In [44]:
month = input("월 입력")
#startswith() startswith는 문자열전용
for key,vlaue in days.items():
    if key.startswith(month):
        print(key)